# 01. Importing Libraries

In [1]:
# Importing the libraries
import pandas as pd
import numpy as np
import os

# 02. Importing CSV File

In [2]:
# Defining the path
path = r'/Users/omid/Library/CloudStorage/OneDrive-Personal/Data Analytics/Data Analytics Immersion/Achievement 6/Soltani, Omid_2024-03_Open Project'

In [3]:
# Importing the DataFrame
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'world_happiness_report_2019.csv'), index_col=False)

# 03. Checking the Data

In [4]:
# Showing the first and last 5 rows of dataset
df

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [5]:
# Displaying column names 
df.columns

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')

In [6]:
# Checking the data types in the columns 
df.dtypes

Overall rank                      int64
Country or region                object
Score                           float64
GDP per capita                  float64
Social support                  float64
Healthy life expectancy         float64
Freedom to make life choices    float64
Generosity                      float64
Perceptions of corruption       float64
dtype: object

In [7]:
# Changing the data type of the 'Overall rank' column to string so that it is disregarded by the describe() method 
df['Overall rank'] = df['Overall rank'].astype('str')

In [8]:
# Making sure the command was run properly
df['Overall rank'].dtype

dtype('O')

# Descriptive Statistics

In [9]:
# Descriptive statistics 
df.describe()

,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

In [10]:
# Checking for missing values
df.isnull().sum()

Overall rank                    0
Country or region               0
Score                           0
GDP per capita                  0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

### No missing values

In [11]:
# Checking for duplicates 
df_dups = df.duplicated()

In [12]:
print(df_dups)

0      False
1      False
2      False
3      False
4      False
       ...
151    False
152    False
153    False
154    False
155    False
Length: 156, dtype: bool

### No duplicates

In [16]:
# Renaming the columns for clarity
df.rename(columns = {'Overall rank' : 'rank'}, inplace = True)
df.rename(columns = {'Country or region' : 'country_or_region'}, inplace = True)
df.rename(columns = {'Score' : 'happiness_score'}, inplace = True)
df.rename(columns = {'GDP per capita' : 'GDP_per_capita'}, inplace = True)
df.rename(columns = {'Social support' : 'social_support_score'}, inplace = True)
df.rename(columns = {'Healthy life expectancy' : 'life_expectancy'}, inplace = True)
df.rename(columns = {'Freedom to make life choices' : 'freedom_score'}, inplace = True)
df.rename(columns = {'Generosity' : 'generosity_score'}, inplace = True)
df.rename(columns = {'Perceptions of corruption' : 'corruption_perception_score'}, inplace = True)

In [17]:
df.columns

Index(['rank', 'country_or_region', 'happiness_score', 'GDP_per_capita',
       'social_support_score', 'life_expectancy', 'freedom_score',
       'generosity_score', 'corruption_perception_score'],
      dtype='object')

In [18]:
# Descriptive statistics with new column names
df.describe()

,happiness_score,GDP_per_capita,social_support_score,life_expectancy,freedom_score,generosity_score,corruption_perception_score
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

In [19]:
# Exporting the DataFrame 
df.to_csv(r'/Users/omid/Library/CloudStorage/OneDrive-Personal/Data Analytics/Data Analytics Immersion/Achievement 6/Soltani, Omid_2024-03_Open Project/02 Data/Prepared Data/clean_data.csv')